* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgba(128, 128, 128, 0.6); */
    font-family: 'Lora', serif;
}
.hero-section {
    background-color: rgba(128, 128, 128, 0.6);
    height: 100vh;
}
.wrap-ctn {
    max-width: 960px;
    margin: auto;
    /* background-color: red; */
}
.hero-section {
    background-color: rgba(128, 128, 128, 0.6);
}
.nav-section {
    margin: 0 30px;
}
.nav-section ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.navs li {
    display: inline-block;
    margin: 20px;
}
.logo {
    margin: 20px 10px;
}
.navs {
    margin-right: 80px;
}
.heading {
    font-size: 65px;
}
.explore-btn {
    background-color: transparent;
    border: none;
    padding: 4px 8px;
}
img {
    
    /* object-fit: contain; */
}
.main-section {
        /* width: 85%; */
        display: flex;
        justify-content: space-between;
        /* margin: 50px auto; */
        /* display: grid; */
        /* grid-template-columns: repeat(2,1fr); */
        justify-content: center;
    margin: 60px 0 0 0;
}
.main-desc {
    margin: 20px 0;
    width: 300px;
    font-size: 18px;
}
/* .left-section, .right-section {
    display: inline-block;
} */
.home-imgs-ctn {
    position: relative;
    margin: 0 70px;
}
.main-img {
    width: 300px;
    height: 400px;
}
.merging-img {
    position: absolute;
    top: 200px;
    left: -110px;
    /* right: 56px; */
    /* width: auto; */
    height: 300px;
}
.left-section {
    margin: auto 0;
}
.categories-section {
    background-color: white;
}
.categories-title {
    text-align: center;
    padding: 30px;
}
.prdct-card {
    /* display: inline-block; */
    /* margin: 12px; */

}
.prdct-ctn {
    display: grid;
    /* margin: 0 auto; */
    height: 100vh;
    /* width: inherit; */
    grid-template-columns: repeat(auto-fit, minmax(auto,220px));
    justify-content: center;
    /* align-items: center; */
    gap: 90px;
}
.collection-img{
    margin: 60px 0 0 0;
    width: 330px;
    height: auto;
}
.left-collection-content .collection-img {
    float:right;
}
.prdct-card-footer {
    padding: 10px;
    /* background-color: blue; */
    position: relative;
    display: block;
}
.prdct-card-subtitle {
    margin: 8px 0 0 0;
}
.left-card-content {
    display: inline-block;
}
.right-card-content {
    float: right;
    /* vertical-align: middle; */
}
.prdct-card-action {
    
    vertical-align: middle;
    margin: 10px 0;

}
.collection-section {
    height: 100vh;
}
.collection-content {
    /* display: flex; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;

}
.left-top-content {
    text-align: right;
}
/* .men-collection {
    float: right;
    margin: 75px 0;
}*/
.women-collection {
    margin: 60px 0 0 0;
}
.collection-name , .collection {
    font-size: 25px;
}
.exp-clothes-action {
    margin: 5px 0 0 0;
}
/* .left-collection-content , .right-collection-content{
    display: inline-block;
    margin:0 65px ;
} */
.prdct-img {
    width: 220px;
    height: auto;
}
.best-prdct {
    margin: 55px 0 0 0;
}
.best-prdct-card {
    margin: 0 35px;
    display: inline-block;
}
.best-prdct-img {
    width: 230px;
    height: auto;
}
.best-prdct-title {
    text-align: center;
    padding: 30px;
}
.best-prdct-name {
    margin: 4px 0;
}
.best-prct-section {
    height: 100vh;
}
.brand-img {
    width: 160px;
    height: auto;
    margin: 0 40px 30px 40px
}
.even-brand-img {
    margin: 30px 0 0 0;
}
.brand-display {
    display: block;
    position: relative;
    margin: 0 auto;
    width: inherit;
}
.footer-ctn {
    display: block;
    justify-content: space-evenly;
    margin: 90px auto 10px auto;
}
.footer-content {
    width: 150px;
    display: inline-block;
    margin: 0 25px 0 0;
}
.footer-title {
    padding: 0 0 10px 0;
}
.footer-list li{
    display: block;
    margin: 8px 0px;
}
.footer-max-width {
    width: 220px;
}
.footer-wrap {
    max-width: 1024px;
    margin: 0 auto;
}

/* Media Queries */
@media screen and (max-width:763px) {
    .navs {
        display: none;
    }
}